// add-expenses start 

.add-expenses-section {
    padding: 40px 0px;

    .container {
        .row {
            .main {
                justify-content: center;

                .form {
                    width: 50%;

                    .head {
                        padding: 20px 0px;

                        h2 {
                            margin: 0px;
                            font-size: 35px;
                            text-align: center;
                            font-weight: 600;
                            color: white;
                        }
                    }

                    form {

                        .amount,
                        .des,
                        .date,
                        .cat,
                        .method {
                            padding: 10px 0px;

                            input {
                                width: 100%;
                                padding: 10px 20px;
                                box-sizing: border-box;
                                color: white;
                                background-color: #282c34;
                                font-weight: 600;
                                font-size: 16px;
                                border-radius: 12px;
                                border: 0px;
                            }
                        }

                        .pay {
                            justify-content: space-between;
                            align-items: center;

                            .amount {
                                width: 80%;

                                input {}
                            }

                            .method {
                                width: 15%;

                                select {
                                    padding: 10px 5px;
                                    background-color: #282c34;
                                    color: gray;
                                    font-size: 15px;
                                    font-weight: 600;
                                    border-radius: 12px;
                                    border: 0px;
                                }
                            }
                        }

                        .btn {
                            padding-top: 25px;

                            button {
                                width: 100%;
                                background-color: #42b5aa;
                                color: #041a17;
                                font-weight: 600;
                                font-size: 16px;
                                border: 0px;
                                padding: 10px;
                                border-radius: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// add-expenses end

.view-expenses-section {
    padding: 40px 0px;
    .container {
        .row {
            .main {
                justify-content: center;
                .table {
                    width: 75%;
                    table {
                        width: 100%;
                        border: 2px solid gray;
                        padding: 12px;
                        thead {
                            tr {
                                th {
                                    padding: 10px 15px;
                                    color: #ffffff99;
                                    text-transform: uppercase;
                                    border: 2px solid gray;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    color: white;
                                    padding: 10px 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}